<div class="font-Hiatus text-white text-[116px] font-normal text-center pt-20 tracking-widest">
    <p>Aspen</p>
</div>

<div class="bottom text-center mt-[30rem]">
    <a  [routerLink]="[ '/home' ]" routerLinkActive="active">
<button class="px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80 animate-pulse">
 Get Started
</button>
</a>
</div>

